numpy
requests
mxnet>=1.2.1
torch>=0.4.0
torchvision>=0.2.1
chainer>=5.0.0b4
chainercv>=0.10.0
git+https://github.com/awslabs/keras-apache-mxnet.git
tensorflow-gpu
tensorflow_addons
git+https://github.com/tensorpack/tensorpack.git
opencv-python
pandas
Pillow
imgaug
scipy
tqdm
Cython
